<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/web_css.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes/head.ejs'); -%>
  </head>
  <body>    
    <%- include('includes/header.ejs'); -%>
    <div class=header style="z-index: 10;">
    </div>
    <% if(msg=="forgot"){ %>
    <div class="container" style="margin-top: 50px;">
      <div class="box">
        <div class="left"></div>
          <div class="form right">
           <h2>Enter<br/>your Email</h2>
           <form action="/forgot_password" method="post">
            <input type="email" name="email" placeholder="E-mail" />
            <button type="submit">Next</button>
           </form>
           
          </div> 
      </div>
      
    </div>
    <%} else { %>
      <div class="container"  style="top: 15%; background-color: white; border-radius: 2em;">
            <div class="form right">
             <h4><%=msg %></h1>
             
        </div>
        
      </div>
      <% } %>
    
  </body>
</html>